<section class="contenedor">
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <ul *ngFor="let item of list; let i = index">
        <td>{{ dataDepor.data[item].teams }}</td>

        <form
          [formGroup]="formTemplate"
          (ngSubmit)="onSubmit(formTemplate.value, item)"
        >
          <div class="form-group">
            <input
              [id]="item"
              type="hidden"
              class="form-control"
              formControlName="$key"
              [(ngModel)]="service.selectedDato.$key"
            />
          </div>
          <td>Resultado</td>

          <select
            name="resultado1"
            class="form-control"
            formControlName="resultado1"
            [(ngModel)]="service.selectedDato.resultado1"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <select
            name="resultado2"
            class="form-control"
            formControlName="resultado2"
            [(ngModel)]="service.selectedDato.resultado2"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

          <div class="form-row">
            <div class="form-group col-md-6">
              <button
                type="submit"
                class="btn btn-success btn-block float-right"
              >
                Ingresar
              </button>
            </div>
          </div>
        </form>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 25rem">
    <div class="card-body">
      <ul class="ul" *ngFor="let index of listaFirebase">
        {{
          index.resultado1
        }}
        -
        {{
          index.resultado2
        }}

        {{
          index.team | json
        }}
      </ul>
    </div>
  </div>
</section>
<!-- <div class="form-group col-md-6">
          <a
            routerLink="/image/producto"
            class="btn btn-primary btn-block float-right"
            >Productos
          </a>
        </div> -->

<!-- <div class="form-group col-md-6">
          <button
            type="button"
            class="btn btn-danger btn-block float-right"
            *ngIf="service.selectedDespacho.$key != null"
            (click)="onDelete(formTemplate)"
          >
            <i class="fa fa-trash"></i> Eliminar
          </button>
        </div> -->

<!-- <div border>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="equipos ">Equipos</th>
      </tr>
    </thead>
    <ul *ngFor="let item of list">
      <td>{{ dataDepor.data[item].teams }}</td>
      <td></td>
      <td>
        <form
          [formGroup]="formTemplate"
          (submit)="onSubmit(formTemplate.value)"
        >
          <div class="form-group">
            <input
              type="hidden"
              class="form-control"

              formControlName="$key"
              [(ngModel)]="service.dato.$key"
            />
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <button
                type="submit"
                class="btn btn-success btn-block float-right"
              >
                Guardar
              </button>
            </div>
          </div>
          <div>
            <tr *ngFor="let item of list">
              <td>{{ item.nombre }}</td>
            </tr>
          </div>
        </form>
      </td>
    </ul>
  </table>

   This is just a div with border directive 
</div>

<div border bStyle="dotted">
  This is just a div with border directive and specifies the style using the
  bStyle property
</div> -->
